<header>
  <h1>Utilisateurs</h1>
  <button mat-raised-button (click)="onCreateUser()">Ajout utilisateur</button> <!--ouvre la fenêtre add-user-->
</header>
<main>
  <ul *ngIf="users$ | async as objet">
    <li *ngFor="let valeur of objet" (click)="onClickUser(valeur.id)">
      {{valeur.first_name}} {{valeur.last_name}} <img src="{{valeur.avatar}}" alt="Avatar" />
    </li>
  </ul>
<!--
  Finir le paginator
-->
  <mat-paginator [length]="6" [pageSize]="3" [pageSizeOptions]="[3, 5, 10]">
  </mat-paginator>

</main>
