  <mat-dialog-content>
    <header>
      <div class="head">
        <h1 mat-dialog-title>Ajouter un utilisateur</h1>
        <mat-dialog-actions>
          <button mat-mini-fab mat-dialog-close aria-label="Quitter" color="accent">
            <mat-icon>close</mat-icon>
          </button>
        </mat-dialog-actions>
      </div>
    </header>
    <main>
      <form [formGroup]="userFormSign" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-label>Nom de l'utilisateur</mat-label>
          <input matInput type="text" placeholder="Huxley" formControlName="name" />
        </mat-form-field>
        <span *ngIf="errRequired()">Merci de renseigner ce champs.</span>
        <span *ngIf="errPattern()">Merci de respecter le format: que des lettres minuscules et/ou majuscules.Seul autre caractère autorisé est le trait d'union.Min : 2 lettres, Max: 25 lettres.</span>
        <!--------->
        <mat-form-field>
          <mat-label>Métier de l'utilisateur</mat-label>
          <input matInput type="text" placeholder="Ecrivain" formControlName="job" />
        </mat-form-field>
        <span *ngIf="errPatternJob()">Merci de respecter le format: que des lettres minuscules et/ou majuscules.Seul autre caractère autorisé est le trait d'union.Min : 2 lettres, Max: 30 lettres.</span>
        <!--------->
        <mat-dialog-actions>
          <button mat-stroked-button color="primary" type="submit" [disabled]="userFormSign.invalid">Ajouter</button>
          <span *ngIf="message">Un problème de connexion est survenu. Veuillez réessayer plus tard.</span>
        </mat-dialog-actions>
      </form>
    </main> 
  </mat-dialog-content>
