<header>
  <h1>Nom de la page</h1>
  <button (click)="onClose()">Quitter</button><!--Ferme la fenêtre-->
</header>
<main>
  <form [formGroup]="userFormSign" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Renseignez le nom de l'utilisateur :</label>
      <input type="text" name="name" formControlName="name" placeholder="Huxley" />
      <span *ngIf="errRequired()">Merci de renseigner ce champs.</span>
    </div>    
    <div>
      <label for="job"> Renseignez le métier de l'utilisateur :</label>
      <input type="text" name="job" formControlName="job" placeholder="Ecrivain" />
    </div>
    <button type="submit" [disabled]="userFormSign.invalid">Ajouter</button>
    <p *ngIf="message">Un problème de connexion est survenu. Veuillez réessayer plus tard.</p>
  </form>
</main>

