@import "../../sass/mixins";

main{
    text-align: center;
    @include media-min("desktop"){
        width: 40%;
        margin-top: 0;
        margin-right:auto;
        margin-left: auto;
    }
}

img{
    width: 100%;
}

button{
    @include media-min("tablet-up"){
        font-size: 4vmin;
        padding: 3%;
    }
}
